.calendar {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    width: auto;
}

.calendar > * {
    border: 1px solid black;
    margin: auto;
    text-align: center;
    min-width: 100px;
    background-color: var(--white);
}

.month-selector {
    text-align: center;
}

.month-selector > * {
    user-select: none;
    margin: 5px;
}

.month-selector > *:hover {
    background-color: gainsboro;
}

.month-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

.month-days > * {
    margin: 2px;
}
