body {
  margin: 0;
  height: 100vh;
  font-family: 'Times New Roman', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  background-color: var(--lightbrown);
}

*:hover {
  cursor: default;
}

a:hover {
  cursor: pointer;
}

:root {
  --black: #0a0908;
  --darkbrown: #49111c;
  --white:  #f2f4f3;
  --lightbrown: #a9927d;
  --brown: #5e503f;
  --red: #ef271b;
  --lightgray: gainsboro;
  --gray: #BEBEBE;
  --darkgray: #808080;
}